

{% extends 'blog/base.html' %}

{% block content %}
<h1>About Page</h1>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div class="p-4 bg-light border rounded">
                <p>
                    I have created Laguna - a web app where people can create accounts, make posts, and view others' posts! I plan to add features like adding friends and ways to make connections!
                  <p>
                    ~ Parth Sharma
                  </p>
               
            </div>
        </div>
    </div>
</div>
{% endblock %}
